* {
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #333;
  }
  
  h1 {
    font-size: 36px;
  }
  
  p {
    font-size: 18px;
  }
  
  /* Custom focus style */
  .topnav a:focus,
  .contactinfo-a:focus,
  .title-a:focus,
  .prev:focus,
  .next:focus
   {
    outline: none;
    box-shadow: 0px 0px 10px rgb(0, 123, 255);
    /* Custom focus shadow */
  }
  
  /* Basic button style */
  .topnav a:not(.logo,.icon),
  .contactinfo-a,
  .prev,
  .next{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    /* Smooth transition */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    /* Adding shadow */
  }
  
  
  /* Hover effect */
  .topnav a:hover,
  .contactinfo-a:hover,
  .title-a:hover,
  .prev:hover,
  .next:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
    /* Reduced shadow on hover */
    transform: translateY(-2px);
    /* Slight movement upwards */
  }
  
  /* Click effect */
  .topnav a:active,
  .contactinfo-a:active,
  .title-a:active,
  .prev:active,
  .next:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Less shadow when clicked */
    transform: translateY(2px);
    /* Move the button down slightly */
  
  }
  
  .menu{
  /* Add a black background color to the top navigation */
  .topnav {
    background: linear-gradient(90deg, #333 0%, #555 100%);
    overflow: hidden;
  
    top: 0;
    width: 100%;
    z-index: 1000;
  
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 0.3s;
  
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 5px gray;
  }
  
  
  
  
  .logo-text:hover {
    
    box-shadow: 2px 2px 5px gray;
    /* Adding hover effect for logo text */
  }
  
  /* Style the logo image and text */
  .logo {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
  }
  
  .logo-img {
    height: 60px;
    
    border-radius: 5px;
    /* Adjust height as needed */
  }
  
  /* Style the logo text, initially hidden on larger screens */
  .logo-text {
    color: #f2f2f2;
    font-size: 17px;
    margin-left: 10px;
    display: none;
    /* Hidden by default */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover,
  .dropdown:hover .dropbtn {
    background-color: #555;
    border-radius: 5px;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
  
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
      display: none;
    }
  
    .topnav a.icon {
      float: right;
      display: block;
      position: absolute;
      right: 21px;
    }
  
    /* Show the logo text on mobile */
    .topnav .logo .logo-text {
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive a.icon {
      position: absolute;
      right: 21px;
      top: 10px
    }
  
    .topnav.responsive a {
      float: none;
      display: flex;
      text-align: left;
    }
  
    .topnav.responsive .dropdown {
      float: none;
    }
  
    .topnav.responsive .dropdown-content {
      position: relative;
    }
  
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  }
  
  .open {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  
  }
  
  .title {
    display: flex;
  
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e9ecef;
  
  }
  
  .title-b {
    font-size: 16px;
    /* Slightly larger for more visibility */
    color: #555;
    font-style: italic;
    color: #4e66f8;
    padding-left: 6%;
    
  }
  
  a:link {
    text-decoration: none !important;
  }
  
  .contactinfoMain{
  
  .contactinfo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    align-items: flex-start;
    border-bottom: 1px solid #e9ecef;
  
  
  }
  
  .contactinfo-a {
    text-decoration: none;
    color: #4e66f8;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  
  }
  
  .contactinfo-a i {
    margin-right: 10px;
  }
  
  .contactinfo-a:first-child::before {
    content: '\f095';
    font-family: 'FontAwesome';
    margin-right: 10px;
  }
  
  .contactinfo-a:nth-child(2)::before {
    content: '\f0e0';
    font-family: 'FontAwesome';
    margin-right: 10px;
  }
  
  .contactinfo-a:nth-child(3)::before {
    content: '\f3c5';
    font-family: 'FontAwesome';
    margin-right: 10px;
  }
  }
  
  
  .photos {
    padding-top: 20px;
    background-color: #f9f9f9;
    /* Styling for the carousel container */
    .carousel-container {
      width: 80%;
      margin: auto;
      overflow: hidden;
      /* Hide overflowing images */
      position: relative;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  
    /* Styling for the image container */
    .carousel-images {
      display: flex;
      transition: transform 0.5s ease-in-out;
      /* Smooth transition for scroll */
    }
  
    /* Individual images */
    .carousel-images img {
      width: 100%;
      max-width: 100%;
      height: 500px;
      /* Fixed height for all images */
      object-fit: cover;
      /* Keep images proportional */
    }
  
    /* Prev/Next buttons */
    .carousel-button {
      position: absolute;
      top: 43%;
     
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 18px;
      z-index: 1;
    }
  
    .prev {
      left: 10px;
    }
  
    .next {
      right: 10px;
    }
  
  
  
  }
  
  .maps {
    padding-top: 27px;
    border: 10px;
    background-color: #f9f9f9;
  
    display: flex;
    justify-content: center;
    padding-bottom: 27px;
    border-bottom: 1px solid #e9ecef;
  
  
  }
  
  .maps-i {
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .timeMain {
    padding-bottom: 5px;
    border-bottom: 1px solid #e9ecef;
  
  
  /* General Styles */
  .times {
    max-width: 83%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .OpeningT {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-weight: bold;
    margin: 0;
  }
  
  i.far {
    color: #333;
  }
  
  /* Table Styles */
  table.openinghours {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
  }
  
  table.openinghours th:not(.current-day-day,.open-now) ,
  table.openinghours td:not(.current-day-day,.open-now) {
    padding: 12px 15px;
    text-align: left;
    border-radius: 5px; /* Add a radius to all table cells */
  }
  
  table.openinghours th {
    background-color: #007bff;
    color: #fff;
  }
  
  table.openinghours td {
    background-color: #e9ecef;
  }
  
  /* Current Day Highlight */
  .current-day th,
  .current-day td {
    background-color: #28a745 !important; /* Green for the current day */
    color: white !important;
  
  }
  .current-day-day{
    padding: 12px 15px;
    text-align: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .open-now{
    padding: 12px 15px;
    text-align: left;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
  
  }
  
  /* Open Now and Closed Now Labels */
  .open-now::after {
    content: " (Open Now)";
    color: green;
    font-weight: bold;
  }
  
  .closed-now::after {
    content: " (Closed Now)";
    color: red;
    font-weight: bold;
  }
  
  /* Highlighted Row */
  table.openinghours tr.table-success th,
  table.openinghours tr.table-success td {
    background-color: #28a745;
    color: white;
  }
  
  /* Hover Effect */
  table.openinghours tr:hover th,
  table.openinghours tr:hover td {
    background-color: #d1ecf1;
    color: #333;
  }
  
  /* Closed Days Styling */
  table.openinghours tr#Saturday td,
  table.openinghours tr#Sunday td {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
  }
  }
  
  .space {
    padding-top: 500px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #04AA6D;
  }
  
  /*pc or lager*/
  @media screen and (min-width: 601px) {
    .title-a {
      color: #4e66f8;
      padding-bottom: 10px;
      font-size: 5vw;
      /* Larger, bold text for title */
      font-weight: 600;
    }
  
    .contactinfo {
      margin: 0px;
    }
  
    .maps{
      
    }
  }
  
  /*phone or smaller*/
  @media screen and (max-width: 600px) {
    .title-a {
      color: #4e66f8;
      padding-bottom: 10px;
      font-size: 11vw;
      /* Larger, bold text for title */
      font-weight: 600;
  
    }
    
  }
  
  @media (prefers-color-scheme: light) {
    body {}
  }
  
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    body {}
  }